.UserBackground
  .UserDetails
    .UserDetails__field
      %section.UserDetails__field--image
        .UserImage
          .UserImage__icon

        .UserEdit
          = @nickname

      %section.UserDetails__field--introduction