%h1.ItemListTitle
  出品した商品
%section.UserItems
  - @items.each do |item|
    %li.UserItems__item
      = link_to item_path(item.id) do
        .UserItems__item--image
          = image_tag item.images.first.image.url
        .UserItems__item--detail
          .DetaiName
            = item.item_name
          .DetailPrice
            %ul
              %li
                = item.price.to_s(:delimited)
                円
            %p 
              (税込) 