.MainBox {
  background-color: #f8f8f8;
  margin: 0 auto;
  height: 50vh;
  overflow: scroll;

  &__inner {
    width: 50%;
    margin: 100px auto;
    border: 1px solid white;

    h3 {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }

    &--ToTop {
      text-align: center;
      margin-top: 70px;
      height: 80px;

      .TopPage {
        width: 30%;
        height: 60%;
        display: inline-block;
        line-height: 42px;
        background: #3ccace;
        border: 1px solid #3ccace;
        color: #fff;
        font-size: 18px;
        border-radius: 100px;
        text-decoration: none;
        text-align: center;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}
.Done {
  width: calc(100% - 250px);
  padding: 100px;

  &__title {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
  }

  &__backlink{
    width: 250px;
    height: 50px;
    background-color: #3ccace;
    display: block;
    margin: 15px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;

    .link {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      line-height: 50px;
    }
  }
}
#fullsize {
  width: 100%;
}