.current {
  font-weight: bold;
  color: black;
  font-size: 17px;
  border-bottom: 1px solid lightgray;
}
.breadcrumbs-list {
  width: 100%;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 10px 60px;
}