*{
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

// 全てのaタグに反応してしまうので、必要であれば適宜、クラス名をつける、ネストさせるなどしてください
a {
  text-decoration: none;
  color: black;
}

.displayNone { 
  display: none;
}

header {
  width: 100vw;
  height: 98.72px;
  display: block;
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  border-bottom: 1px solid;
}
.Header {
  padding: 0 60px;
  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    &--main{
      position: relative;
      display: flex;
      align-items: center;
    }
  }
  // .breadcrumbs {
  //   display: inline;
  // }
}

.MainIcon {
  padding-bottom: 10px;
  margin-right: 30px;
  border-radius: 4px;
  font-size: 100%;
  font-weight: normal;
  > a {
    width: 140px;
    display: block
  }
  > a > img{
    width: 100%;
    vertical-align: bottom;
  }
}
.SearchArea {
  margin-left: auto;
  width: 100%;
}
.SearchArea__form {
  margin-left: auto;
  width: 100%;
  position: relative;
  > form {
    width: 100%;
    display: flex;
    margin-bottom: 5px;
    > input {
      width: calc(100% - 26px);
      height: 36px;
      padding: 0 0 0 5px;
    }
    .submit{
      height: 36px;
      width: 36px;
      border: 0;
      cursor: pointer;
      background-color: #3CCACE;
      background-image: url("icon-search 1.png");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;

    }
  }
}

.NavLists{
  height: 32px;
  display: flex;
  justify-content: space-between;
  &__right{
    display: flex;
    a {
      margin-left: 20px;
    }
  }
}

// ログイン・新規登録リンクのドロップダウンリスト
.NavLists__right > li {
  position: relative;
  list-style: none;
  :hover {
    color: #3CCACE;
  }
  ul {
    position: absolute;
    li {
      background-color: #fff;
      width: 200px;
      height: 0;
      overflow: hidden;
      transition: .3s;
      padding-left: 5px;
      border: 1px solid #eee;
      display: flex;
      align-items: center;
      a {
        display: block;
        height: 2rem;
        line-height: 2rem;
        text-decoration: none;
        width: 100%;
        margin-left: 8px;
        transition: .3s;
      }
    }
    li:hover {
      background-color: #3CCACE;
      color: #fff;
      a {
        color: #fff;
      }
    }
  }
}

.NavLists__right li:hover > ul > li {
  height: 2rem;
  overflow: visible;
}


// カテゴリーのドロップダウンリスト
.Category__child, .Category__parent, .Category__grandchild{
  display: none;
}

.Category__list{
  position: absolute;
  height: 560px;
  background-color: white;
}

.Category__child--name{
  width: 100%;
  color: black;
  display: inline-block;
  padding: 3px 15px;
  font-size: 13px;
  letter-spacing: 2px;
}

.Category{
  &__search {
    &:hover {
      color: #ffb304;
    }
  }
  &:hover{
    .Category__parent{
      margin-top: 9px;
      display: block;
      &--name{
        width: 100%;
        color: black;
        display: inline-block;
        padding: 10px 20px;
        font-size: 13px;
        letter-spacing: 2px;
        &:hover{
          color: #ffb304;
        }
      }
      li {
        &:hover{
          .Category__child{
            width: 100%;
            display: block;
            top: 0;
            left: 220px;
            font-size: 13px;

            &--name:hover{
              color: #ffb304;
            }
            li {
              &:hover{
                .Category__grandchild{
                  width: 300px;
                  display: block;
                  top: 0;
                  left: 220px;
                  font-size: 13px;
                  &--name:hover{
                    color: #ffb304;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}


