.item_search {
    width: 200px;
    min-height: 100vh;
    padding: 5px;
    background-color: rgb(196, 196, 196);
    #q_sorts{
      height: 25px;
    }
    h3{
      height: 30px;;
      margin-top: 10px;
    }
    p{
      height: 30px;;
      margin-top: 10px;
    }
    .detail_search__btns{
      margin-top: 10px;
      height: 25px;
      width: 100%;
    }
  }