  
.MainShow{
  background-color: #f8f8f8;
  &__box{
    padding:40px;
    margin: 0 auto;
    &__content{
      width: 700px;
      margin: 0 auto;
      &__top{
        .ItemBox{
          background-color: #fff;
          padding: 24px 40px 40px;
          margin-bottom: 10px;
          h2{
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__Images{
            margin-top: 16px;
            .Image__main{
              display: flex;
              position: relative;
              &__list{
                display: flex;
                align-items: center;
                flex-direction: column;
                width: 560px;
                margin: 0 auto;
                .Main__photo{
                  object-fit: cover;
                  height: 346px;
                  width: 100%;
                  vertical-align: bottom;
                }
                .Image__box{
                  width: 560px;
                  .Image__sub{
                    display: flex;
                    justify-content: left;
                    flex-wrap: wrap;
                    margin-top: 10px;
                    margin-left: 80px;
                    &__list{
                      display: flex;
                      align-items: center;
                      flex-direction: column;
                      width: 15%;
                      margin-right: 10px;
                      .sub__photo{
                        object-fit: cover;
                        height: 87px;
                        width: 100%;
                        vertical-align: bottom;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.MainShow__box__price{
  margin: 24px 0 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  .price{
    font-size: 40px;
    font-weight: bold;
    margin-right: 10px;
  }
  &__detail{
    font-size: 16px;
  }
}
.MainShow__box__explanation{
  line-height: 1.5;
  font-size: 18px;
  margin-bottom: 30px;
}
.MainShow__box__table{
margin-bottom: 20px;
    table{
    width: 100%;
    height: 375px;
    border-collapse: collapse;
    border: 1px solid #f8f8f8;
    tbody{
      tr{
        th{
          width: 20%;
          background-color: #eee;
          font-weight: 400;
          padding: 8px;
          border: 1px solid #dedede;
          font-size: 14px;
          text-align: center;
        }
        td{
          width: 61%;
          padding: 15px 15px;
          border: 1px solid #dedede;
          font-size: 14px;
          a{
            text-decoration: none;
            color: #3ccace;
          }
        }
      }
    }
  }
}
.MainShow__box__option{
  display: flex;
  justify-content: space-between;
  .Like{
    margin-top: 10px;
    &__list{
      margin-right: auto;
      padding: 6px 10px;
      border-radius: 40px;
      border: 1px solid #6d6d6d;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #6d6d6d;
      }
    }
    &__list--on{
      margin-right: auto;
      padding: 6px 10px;
      border-radius: 40px;
      border: 1px solid #6d6d6d;
      cursor: pointer;
      a {
        text-decoration: none;
        color: #3ccace;
      }
    }
  }
  .Report{
    margin-top: 10px;
    display: flex;
    &__list{
      font-size: 14px;
      a{
        padding: 6px 10px;
        display: inline-block;
        border-radius: 4px;
        color: #333;
        border: 1px solid #333;
        text-decoration: none;
      }
    }
  }
}
.MainShow__box__edit{
  display: flex;
  flex-direction: column;
  a{
    line-height: 48px;
    background: #3ccace;
    border: 1px solid #3ccace;
    color: #fff;
    width: 60%;
    font-size: 18px;
    border-radius: 100px;
    text-decoration: none;
    text-align: center;
    margin: 20px auto;
    &:hover{
      opacity: 0.5;
      cursor: pointer;
    }
  }
  h3 {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }
}
.MainShow__box__comment{
  padding: 24px;
  background-color: #fff;
  margin: 10px 0;
  text-align: center;

  .Title {
    font-size: 24px;
    font-weight: bold;
    color: #3ccace;
    margin-bottom: 10px;
  }

  .MainShow__box__comments{
    padding: 10px;

    .Profile {
      display: flex;
      justify-content: flex-end;
      &__name {
        font-weight: bold;
        margin-right: 20px;
      }
      .Image {
        font-size: 50px;
        margin-bottom: 5px;
      }
      .user-circle {
        border-radius: 50px;
        width: 50px;
        height: 50px;
      }
      .Seller_or_buyer {
        font-size: 12px;
        padding: 2px;
        border-radius: 8px;
        background-color: #3ccace;
        color: #fff;
      }
    }
    .Comment {
      background-color: #eee;
      width: 91%;
      padding: 8px;
      margin-top: -55px;
      border-radius: 12px;

      &__text {
        text-align: left;
        word-break: break-all;
      } 
      &__bottom {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        margin-top: 5px;
        color: #6d6d6d;
        font-size: 12px;

        a {
          text-decoration: none;
          color: #6d6d6d;
        }
      }
    }
    .MainShow__box__comment__comments--other{
      padding: 10px;
      display: flex;

      .Profile {
        display: flex;
        justify-content: flex-start;
        .Image {
          font-size: 50px;
          margin-bottom: 5px;
        }
        .Seller_or_buyer {
          font-size: 12px;
          padding: 2px;
          border-radius: 8px;
          background-color: #3ccace;
          color: #fff;
        }
      }
      .Comment {
        background-color: #cdf4f4;
        width: 100%;
        padding: 8px;
        margin: 25px 0px 0px -40px;
        border-radius: 12px;
        max-width: 570px;

        &__text {
          text-align: left;
          width: 100%;
          word-break: break-all;
        } 
        &__bottom {
          display: flex;
          justify-content: space-between;
          padding: 0 20px;
          margin-top: 5px;
          color: #6d6d6d;
          font-size: 12px;

          a {
            text-decoration: none;
            color: #6d6d6d;
          }
        }
        &__icon {
          display: flex;
        }
      }
    }
  }
  .New_comment{
    margin-top: 40px;

    .Text_area{
      width: 100%;
      min-height: 104px;
      padding: 10px;
    }
    .note{
      padding: 8px;
      font-size: 14px;
      background-color: #f8f8f8;
      margin: 10px 0;
      text-align: left;
    }
    .Send{
      margin-top: 50px;
      text-align: center;
      margin-bottom: 50px;
      .Comment__btn{
        background-color: #3CCACE;
        color: #FFFFFF;
        width: 60%;
        height: 48px;
        font-size: 18px;
        border-radius: 100px;
        font-weight: 600;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover{
          opacity: 0.5;
        }
      }
    }
  }
}
.MainShow__box__comments#Comments{
  padding: 10px;
}
.MainShow__box__comment__comments--other#Comments{
  padding: 10px;
  display: flex;
}