@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/users/show";


.TopBox {
  height: 97.8px;
  width: 100vw;
}
.MainWrapper {
  height: 100%;
  width: 100vw;
  overflow: scroll; 
}
