@import "reset";
@import "modules/toppage";
@import "modules/footer";
@import "modules/new_item";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/users/show";
@import "modules/users/registration";
@import "modules/users/session";
@import "modules/credit_cards/new";
@import "modules/show_item";
@import "modules/sell_btn";


.TopBox {
  height: 97.8px;
  width: 100vw;
  background-color: #fff;
}
.MainWrapper {
  height: 100%;
  width: 100vw;
  overflow: scroll;
}
