@import "reset";
@import "modules/header";
@import "modules/new_item";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/users/show";
@import "modules/users/registration";
@import "modules/users/session";
@import "modules/show_item";


.TopBox {
  height: 97.8px;
  width: 100vw;
}
.MainWrapper {
  height: 100%;
  width: 100vw;
  overflow: scroll;
}
